body {background-color: rgb(34, 31, 31);}
h1   {color: rgb(255, 255, 255);}
h2    {color: rgb(255, 255, 255);}
h3    {color: rgb(255, 255, 255);}
pre    {color: rgb(255, 255, 255);}
img.yo{
         width: 100px;
         border-radius: 50px;
         float: left;
         margin-right: 10px;
       }
 
img.to{
         width: 80px;
         border-radius: 50px;
         float: left;
         margin-right: 10px;
       }